.home-cont {
  display: flex;
  width: 100%;
  height: 100%;
}

.home-left-panel {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.home-projects {
  border: 1px solid black;
}

.home-charts {
  display: flex;
}

.home-right-panel {
  width: 40%;
}

.home-activity {
  border: 1px solid black;
}

.stage-icons {
  display: flex;
  justify-content: space-around;
}

.stage-icons > div {
  display: flex;
  flex-direction: column;
}
