.hidden {
  display: none;
}

.profile-dropdown {
  position: absolute;
  right: 10px;
}

.nav-cont {
  margin-bottom: 20px;
}

.top-nav, .bottom-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.bottom-nav > div {
  display: flex;
}

.nav-icons > div {
  margin-right: 25px;
}

.nav-icons > div:hover {
  cursor: pointer;
}
